@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.pict {
  padding: 1rem 2rem;
}

.text h3 {
  margin-bottom: 0px;
  margin-top: 13px;
}

.text #date {
  font-size: 12px;
  color: #8b8b8b;
}

.text #productName {
  font-size: 15px;
  color: gray;
}

.text #detailbtn {
  margin-top: -62px;
  width: 100px;
}

.modal .modal-title {
  line-height: 1;
}

.modal .close {
  margin-top: -23px;
}

.modal .modal-dialog {
  width: 1000px;
}

.modal #modalRow {
  margin-bottom: 12px;
}

.modal #modalInfo {
  color: #8b8b8b;
}

.modal #modalEntry {
  margin: 5px;
}

.modal .modal-footer #cancel {
  background-color: #F92900;
  border-color: transparent;
}

.modal .modal-footer #accept {
  background-color: #0DC902;
  border-color: transparent;
}

#callout-dash {
  background-color: #01cc01;
  color: white;
}

.small-box .icon {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 80px;
}

.bg-yellow {
  background-color: #f1e101 !important;
}

.bg-green {
  background-color: #00f836 !important;
}

